<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        {{>navbar}}

    </header>
    <div class="wrapper">
        <div class="up-center">
            <h3 class="up">About Us</h3>
            <p class="up2">Welcome to JKB Educational Institute, the epitome of excellence and empowerment in the field
                of
                engineering
                education in India.
                Led by the visionary director and esteemed tutor, Mr. Vinayak Shete, we are driven by a singular mission
                to
                uplift and empower the
                country's youth. Since our establishment in 2011, we have continuously evolved, creating a nurturing
                environment and providing
                outstanding facilities for our students' holistic development.
            </p>
        </div>
        <!-- <div class="images">
            <img id="img1" src="./images/AU1.png" alt="">
            <img id="img2" src="./images/AU2.png" alt="">
        </div> -->

        <div class="about-us-grid">
            <div class="about-us-card">
                <div class="card-content">
                    <div> <img src="./images/AU.png" alt="Image 1"></div>
                    <div class="card-wrapper">
                        <div class="about-us-orange">
                            Prof Vinayak Shete
                        </div>
                        <div class="about-us-white">Director</div>
                        <p class="about-us-grey">Mr. Vinayak Shete, the visionary director and esteemed lecturer at JKB
                            Educational & IT
                            Services , has positively influenced the lives of thousands of aspiring engineers with his
                            vast teaching experience and deep-rooted passion for yoga and meditation.</p>
                    </div>
                </div>
            </div>
            <div class="about-us-card">
                <div class="card-content">
                    <div> <img src="./images/AU.png" alt="Image 1"></div>
                    <div class="card-wrapper">
                        <div class="about-us-orange">
                            Prof Vinayak Shete
                        </div>
                        <div class="about-us-white">Director</div>
                        <p class="about-us-grey">Mr. Vinayak Shete, the visionary director and esteemed lecturer at JKB
                            Educational & IT
                            Services , has positively influenced the lives of thousands of aspiring engineers with his
                            vast teaching experience and deep-rooted passion for yoga and meditation.</p>
                    </div>
                </div>
            </div>
            <div class="about-us-card">
                <div class="card-content">
                    <div> <img src="./images/AU.png" alt="Image 1"></div>
                    <div class="card-wrapper">
                        <div class="about-us-orange">
                            Prof Vinayak Shete
                        </div>
                        <div class="about-us-white">Director</div>
                        <p class="about-us-grey">Mr. Vinayak Shete, the visionary director and esteemed lecturer at JKB
                            Educational & IT
                            Services , has positively influenced the lives of thousands of aspiring engineers with his
                            vast teaching experience and deep-rooted passion for yoga and meditation.</p>
                    </div>
                </div>
            </div>
            <div class="about-us-card">
                <div class="card-content">
                    <div> <img src="./images/AU.png" alt="Image 1"></div>
                    <div class="card-wrapper">
                        <div class="about-us-orange">
                            Prof Vinayak Shete
                        </div>
                        <div class="about-us-white">Director</div>
                        <p class="about-us-grey">Mr. Vinayak Shete, the visionary director and esteemed lecturer at JKB
                            Educational & IT
                            Services , has positively influenced the lives of thousands of aspiring engineers with his
                            vast teaching experience and deep-rooted passion for yoga and meditation.</p>
                    </div>
                </div>
            </div>
            <div class="about-us-card">
                <div class="card-content">
                    <div> <img src="./images/AU.png" alt="Image 1"></div>
                    <div class="card-wrapper">
                        <div class="about-us-orange">
                            Prof Vinayak Shete
                        </div>
                        <div class="about-us-white">Director</div>
                        <p class="about-us-grey">Mr. Vinayak Shete, the visionary director and esteemed lecturer at JKB
                            Educational & IT
                            Services , has positively influenced the lives of thousands of aspiring engineers with his
                            vast teaching experience and deep-rooted passion for yoga and meditation.</p>
                    </div>
                </div>
            </div>
            <div class="about-us-card">
                <div class="card-content">
                    <div> <img src="./images/AU.png" alt="Image 1"></div>
                    <div class="card-wrapper">
                        <div class="about-us-orange">
                            Prof Vinayak Shete
                        </div>
                        <div class="about-us-white">Director</div>
                        <p class="about-us-grey">Mr. Vinayak Shete, the visionary director and esteemed lecturer at JKB
                            Educational & IT
                            Services , has positively influenced the lives of thousands of aspiring engineers with his
                            vast teaching experience and deep-rooted passion for yoga and meditation.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="aftertext">
            <p>At JKB, we believe in delivering the best learning experiences with renowned authors like Prof. N H
                Dubey, ensuring comprehensive study materials and ample growth opportunities for our students. With Mr.
                Vinayak Shete's vast teaching experience, we have positively influenced the lives of thousands of
                aspiring engineers. Moreover, as a testament to our commitment to excellence, we cater to the needs of
                studying various programming languages and offer corporate linguistic training.
            </p>

            <p>
                Beyond academics, we embrace spirituality and mindfulness. Mr. Vinayak Shete is actively associated with
                The Art Of Living Foundation and serves as a dynamic youth teacher at the AOL. His deep-rooted passion
                for yoga and meditation resonates within the fabric of our institute, fostering a harmonious and
                balanced educational experience.

            </p>
            <p>
                As you explore our website, you will witness the remarkable success stories that our institute has
                nurtured, leaving an indelible mark on the educational landscape. Join us at JKB Educational Institute,
                where knowledge meets inspiration, and dreams turn into reality. Together, Let Us Embark on a
                Transformative Journey of Education and Empowerment.
            </p>
        </div>
    </div>

</body>

</html>