<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,100;1,300&family=Red+Hat+Display:wght@700&display=swap');

        *,
        *::after,
        *::before {
            box-sizing: border-box;
            background-color: #020F16;
        }

        html {
            scroll-behavior: smooth;
        }

        body {
            margin: 0;
            font-family: "Poppins", sans-serif;
        }

        .wrapper {
            max-width: 1400px;
            margin: 0 auto;
        }

        header {
            /* height: 100vh; */
            width: 100%;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* position: fixed; */
            width: 1400px;
            top: 27px;
            z-index: 100;
        }

        nav .logo {
            color: #FFF;
            font-family: "Poppins";
            font-size: 52.208px;
            font-weight: 700;
        }

        nav ul {
            display: flex;
            align-items: center;
            gap: 50px;
            list-style: none;
            margin: 0;
        }

        nav ul li a {
            color: #FFF;
            font-family: "Poppins";
            font-size: 22.122px;
            font-weight: 400;
            text-decoration: none;
        }

        .dropbtn {
            background-color: transparent;
            color: white;
            padding: 16px;
            font-size: 22px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #17242B;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            display: block;
        }


        .dropdown-content a:hover {
            background-color: rgb(46, 70, 83);
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: transparent;
        }


        h1 {
            color: #E67F22;
            font-family: Poppins;
            font-size: 30px;
            font-weight: 700;
        }

        .white {
            color: #FFF;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 500;
            margin-top: 20px;
        }

        ::placeholder {
            color: #D9D9D9;
            font-family: Poppins;
            font-size: 15px;
            font-style: italic;
            font-weight: 300;

        }



        input[type=text],
        select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            background-color: rgb(16, 24, 28);
            color: white;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-sizing: border-box;


        }

        input[type=number],
        select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            background-color: rgb(16, 24, 28);
            border: 1px solid #ccc;
            border-radius: 10px;
            box-sizing: border-box;
            color: white;
        }

        textarea {
            background-color: rgb(16, 24, 28);
            color: white;
        }

        input[type=submit] {
            background-color: rgb(230, 127, 34);
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 50px;
            cursor: pointer;

        }


        .center {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-top: 20px;
        }
    </style>


</head>

<body>

    <header>
        {{>navbar}}

    </header>
    <div class="wrapper">


        <h1>Contact Us </h1>

        <!-- <h1>Contact Us</h1> -->

        <form action="contact" method="post">
            <label for="fname" class="white">Name</label><br>
            <input type="text" id="fname" name="fname" placeholder="Click here to enter Name">
            <br>
            <label for="numb" class="white">Phone Number</label><br>
            <input type="number" id="lname" name="numb" placeholder="Click here to enter Phone Number"><br>
            <br>
            <label for="email" class="white">Email ID</label><br>
            <input type="text" id="ename" name="email" placeholder="Click here to enter Email ID">
            <br>
            <label for="address" class="white">Adress(Area & Location)</label><br>
            <input type="text" id="sname" name="address" placeholder="Click here to enter Address">
            <br>
            <label for="purpose" class="white">Enquiry Purpose</label><br>
            <input type="text" id="pname" name="purpose"
                placeholder="Click here to write your purpose of contacting Team JKB">
            <br>
            <div class="center">
                <input type="submit" value="Submit Details" onclick="Sumbit">
            </div>
        </form>
    </div>
</body>

</html>