<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First-year-program</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        {{>navbar}}

    </header>
    <div class="wrapper">
        <div class="first">
            <div class="first-left">
                <img src="./images/laptop.png" alt="laptop">
            </div>
            <div class="first-right">
                <div class="first-line">1st Year Engineering Programming</div>
                <div class="sec-line">
                    🛑 Start with basic programming concepts from the 1st year itself <br>
                    to develop a strong foundational base for future activities. <br>
                    🛑 Learn HTML & CSS to start the basics of web development. <br>
                    🛑 Learn the basics of C & C++ Programming. <br>
                    🛑 Get a glimpse of core Python. <br>
                    🛑 This will prepare you for competitive programming in the 2nd year, <br>
                    industrial courses in 3rd year, and projects & placements in the final <br>
                    year. <br>
                </div>
                <div class="first-flex">
                    <div class="first-img"><img src="./images/CN1.png" alt=""></div>
                    <div class="first-text">Programming Foundation</div>
                </div>
                <div class="first-flex">
                    <div class="first-img"><img src="./images/CN2.png" alt=""></div>
                    <div class="first-text">HTML/CSS/C/C++/Core Python
                    </div>
                </div>
                <div class="first-flex">
                    <div class="first-img"><img src="./images/CN3.png" alt=""></div>
                    <div class="first-text">Prepare for Competitive <br>
                        Programming</div>
                    <a href="contact" class="enroll">Enroll Now</a>
                </div>
            </div>
        </div>
        <div class="predict">
            <div class="predict-text">Begin with your Programming Journey : B.E. / B.TECH. / B.SC. (IT/CS) / MCA / BCA
            </div>
            <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="predict-btn">Predict Eng College</a> -->
        </div>

        <div class="HM3">
            <div class="HM_boxs">
                <div class="HM-left">
                    <div class="HM-flex">
                        <img src="./images/counselling.png" style="background-color: #17242B;">
                        <div class="num">45000+</div>
                        <div style="background-color: #17242B;">Counselling</div>
                        <div style="background-color: #17242B;">Student</div>


                    </div>
                    <div class="HM-flex">
                        <img src="./images/students.png" style="background-color: #17242B;">
                        <div class="num">10000+</div>
                        <div style="background-color: #17242B;">Student</div>
                        <div style="background-color: #17242B;">Trained</div>


                    </div>
                    <div class="HM-flex">
                        <img src="./images/startup.png" style="background-color: #17242B;">
                        <div class="num">250+</div>
                        <div style="background-color: #17242B;">Start-up</div>
                        <div style="background-color: #17242B;">Projects</div>


                    </div>
                </div>

                <div class="HM-right">
                    <!-- <h3 class="head4">4 Years of Mentorship Throughout Your Engineering Journey</h2> -->
                    <div class="contain">
                        <p class="para">
                            1. 1st-Year : Coaching & Foundation Programming (Independent Learner) <br>
                            Master the academic subjects with amazing exam strategies <br>
                            to secure best grades/pointers. <br>
                            2. 2nd-Year : Competitive Programming & Aptitude for Placement <br>
                            Focus on competitive programming and aptitude test preparation for <br>
                            achieving premium placements. <br>
                            3. 3rd-Year : Industrial Course Training <br>
                            Gain expertise in various industrial skills through expert training provided <br>
                            by JKBian (Ex-Student) industrial masters having 35+LPA packages. <br>
                            4. Projects and Mastermind for Startup <br>
                            Engage in national as well as international level competitions and build <br>
                            your startup while completing your degree. <br>
                        </p>
                    </div>

                </div>
            </div>
        </div>
     <div class="HM4">
        {{>testimonials}}
     </div>
    </div>

    </div>

</body>

</html>