<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        
    </style>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        {{>navbar}}
    </header>
    <div class="wrapper">
        <div class="container">
            <div class="left">
                <img src="./images/HM1.png" alt="">
                <div class="textcards">
                    <div class="HM-card1">
                        <p class="text">Worried about Admission?</p>
                        <a href="#" class="btn">Engg. Admission Process 2023</a>
                    </div>
                </div>
                <div class="buttons">
                    <a href="https://beeg.com/" class="btn" target="_blank">College Predict
                        for Engg</a>
                    <a href="contact" class="btn">Contact</a>
                </div>
                <div class="info">
                    <div class="info-card">
                        <h4 class="orange">What do we do?</h4>
                        <p class="white">JKB Education, led by Mr. Vinayak Shete, is a prestigious engineering institute
                            in India with a
                            vision to empower
                            and uplift the country's youth in engineering under the guidance of Prof. N H Dubey (Author
                            of
                            Engg. Mechanics,
                            Engg. Drawing/Graphics, published by TATA McGraw Hill Publications).</p>
                        <h4 class="orange">What do we do?</h4>
                        <p class="white">
                            JKB has continuously evolved to provide a conducive ecosystem, guidance and excellent
                            facilities to students
                            to create their own comprehensive study materials, fostering a deeper understanding of the
                            subjects and
                            promoting independent learning and academic growth throughout the 4 years engineering
                            journey.
                            At JKB, we recognize the importance of holistic development by embracing spirituality and
                            mindfulness along
                            with academic pursuit. Mr. Vinayak Shete's association with The Art of Living Foundation and
                            his
                            role as a dynamic
                            youth teacher at AOL enriches our educational environment and creates a pleasant atmosphere
                            that
                            enhances the
                            overall growth of our students.
                        </p>
                    </div>

                </div>

            </div>
            <div class="right">
                <!-- <img src="./images/HM2.png" alt=""> -->
                <div class="box">
                    <a href="counselling">
                        <div class="imgBg"
                            style="background-image: url('https://jkbstaticservices.s3.ap-south-1.amazonaws.com/1st-Year-Engg-Counselling.jpg');">
                        </div>
                        <div class="right-text"> Engg. Admission Counselling </div>
                    </a>
                </div>
                <div class="box">
                    <a href="./program.html">
                        <div class="imgBg"
                            style="background-image: url('https://jkbstaticservices.s3.ap-south-1.amazonaws.com/1st-Year-Programming.jpg');">
                        </div>
                        <div class="right-text"> 1st Year Programming</div>
                    </a>
                </div>
                <div class="box">
                    <div class="box">
                        <a href="./coaching.html">
                            <div class="imgBg"
                                style="background-image: url('https://jkbstaticservices.s3.ap-south-1.amazonaws.com/1st-Year-Engg.jpg');">
                            </div>
                            <div class="right-text"> 1st Year Engg. Coaching</div>
                        </a>
                    </div>
                </div>
                <div class="box">
                    <div class="box">
                        <a href="">
                            <div class="imgBg"
                                style="background-image: url('https://jkbstaticservices.s3.ap-south-1.amazonaws.com/IT-Services-for-Start-Up.jpg');">
                            </div>
                            <div class="right-text">IT Service of Startup </div>
                        </a>
                    </div>
                </div>
                <div class="box">
                    <div class="box">
                        <a href="./sec-program.html">
                            <div class="imgBg"
                                style="background-image: url('https://jkbstaticservices.s3.ap-south-1.amazonaws.com/2nd-Year-Programming.jpg');">
                            </div>
                            <div class="right-text">2nd Year Programming</div>
                        </a>
                    </div>
                </div>
                <div class="box">
                    <div class="box">
                        <a href="">
                            <div class="imgBg"
                                style="background-image: url('https://jkbstaticservices.s3.ap-south-1.amazonaws.com/MS-in-US-%26-Europe.jpg');">
                            </div>
                            <div class="right-text"> MS in US & Europe</div>
                        </a>
                    </div>
                </div>
                <div class="box">
                    <div class="box">
                        <a href="">
                            <div class="imgBg"
                                style="background-image: url('https://jkbstaticservices.s3.ap-south-1.amazonaws.com/3rd-Year-Programming.jpg');">
                            </div>
                            <div class="right-text"> 3rd Year Programming</div>
                        </a>
                    </div>
                </div>
                <div class="box">
                    <div class="box">
                        <a href="">
                            <div class="imgBg"
                                style="background-image: url('https://jkbstaticservices.s3.ap-south-1.amazonaws.com/Project-and-Placement.jpg');">
                            </div>
                            <div class="right-text">Project & Placement</div>
                        </a>
                    </div>
                </div>
                <div class="box">
                    <div class="box">
                        <a href="">
                            <div class="imgBg"
                                style="background-image: url('https://jkbstaticservices.s3.ap-south-1.amazonaws.com/Financial-Literacy.jpg');">
                            </div>
                            <div class="right-text">Financial Literacy</div>
                        </a>
                    </div>
                </div>
                <div class="box">
                    <div class="box">
                        <a href="">
                            <div class="imgBg"
                                style="background-image: url('https://jkbstaticservices.s3.ap-south-1.amazonaws.com/Youth-Empowerment-Skills.jpg');">
                            </div>
                            <div class="right-text">Youth Empowerment Hub</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="HM3">
        <div class="HM_boxs">
            <div class="HM-left">
                <div class="HM-flex">
                    <img src="./images/counselling.png" style="background-color: #17242B;">
                    <div class="num">45000+</div>
                    <div style="background-color: #17242B;">Counselling</div>
                    <div style="background-color: #17242B;">Student</div>


                </div>
                <div class="HM-flex">
                    <img src="./images/students.png" style="background-color: #17242B;">
                    <div class="num">10000+</div>
                    <div style="background-color: #17242B;">Student</div>
                    <div style="background-color: #17242B;">Trained</div>


                </div>
                <div class="HM-flex">
                    <img src="./images/startup.png" style="background-color: #17242B;">
                    <div class="num">250+</div>
                    <div style="background-color: #17242B;">Start-up</div>
                    <div style="background-color: #17242B;">Projects</div>


                </div>
            </div>

            <div class="HM-right">
                <h3 class="head4">4 Years of Mentorship Throughout Your Engineering Journey</h2>
                    <div class="contain">
                        <p class="para">Let us embark on a transformative and fulfilling 4-year engineering journey with
                            JKB
                            Education & Vinayak sir, where you will be entitled for the following perks<br>
                            • expert coaching in Ist year of engineering<br>
                            • preparation of placements in 2nd year<br>
                            • specialised industrial training through industrial courses in 3rd year<br>
                            • experience in impactful projects & remarkable placement in final year<br>
                            You can also opt for MS abroad opportunities, pathways to prestigious careers or
                            entrepreneurship to build your own startup, or premium government jobs. Unleash your
                            potential and shape a future that knows no bounds with JKB.
                        </p>
                    </div>

            </div>
        </div>
    </div>

    <div class="HM4">
        {{>testimonials}}
    </div>
    </div>


    </div>
</body>

</html>