<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MS in US & Europe</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
       {{>navbar}}

    </header>
    <div class="wrapper">
        <div class="first">
            <div class="first-left">
                <img src="./images/laptop.png" alt="laptop">
            </div>
            <div class="first-right">
                <div class="first-line">MS in US & Europe</div>
                <div class="sec-line"> 🛑 Enhance your career prospects with an internationally recognized
                    degree, gaining a competitive edge in the global job market and
                    opening doors to rewarding employment opportunities worldwide.<br>
                    🛑 We simplify the application process, providing expert guidance on
                    admission requirements, standardized tests, finances, scholarships,
                    and visas. Trust our dedicated team of experts to assist you.<br>
                    🛑 Get familiarised with an elaborate list of courses and Universities to
                    consider before applying for MS.<br>
                    🛑 Get expert guidance through our comprehensive counseling series,
                    covering application procedures, course and college selection criteria,
                    and invaluable advice.<br>
                </div>
                <div class="first-flex">
                    <div class="first-img"><img src="./images/CN1.png" alt=""></div>
                    <div class="first-text">College Ranking Seminar / Webinar</div>
                </div>
                <div class="first-flex">
                    <div class="first-img"><img src="./images/CN2.png" alt=""></div>
                    <div class="first-text">FEES / DISTANCE / TRAVEL TIME / HOSTEL <br> ADMISSION TO PLACEMENT JOURNEY
                    </div>
                </div>
                <div class="first-flex">
                    <div class="first-img"><img src="./images/CN3.png" alt=""></div>
                    <div class="first-text">TFWS & EWS SEATS</div>
                    <a href="contact" class="enroll">Enroll Now</a>
                </div>
            </div>
        </div>
        <div class="predict">
            <div class="predict-text">Sail Through your Masters Journey with Hassle Free Processes & Get Up to 90%
                Scholarship </div>

        </div>

        <div class="HM3">
            <div class="HM_boxs">
                <div class="HM-left">
                    <div class="HM-flex">
                        <img src="./images/counselling.png" style="background-color: #17242B;">
                        <div class="num">45000+</div>
                        <div style="background-color: #17242B;">Counselling</div>
                        <div style="background-color: #17242B;">Student</div>


                    </div>
                    <div class="HM-flex">
                        <img src="./images/students.png" style="background-color: #17242B;">
                        <div class="num">10000+</div>
                        <div style="background-color: #17242B;">Student</div>
                        <div style="background-color: #17242B;">Trained</div>


                    </div>
                    <div class="HM-flex">
                        <img src="./images/startup.png" style="background-color: #17242B;">
                        <div class="num">250+</div>
                        <div style="background-color: #17242B;">Start-up</div>
                        <div style="background-color: #17242B;">Projects</div>


                    </div>
                </div>

                <div class="HM-right">
                    <!-- <h3 class="head4">4 Years of Mentorship Throughout Your Engineering Journey</h2> -->
                    <div class="contain">
                        <div class="para">
                            1. Grab the opportunity to pursue MS from top Universities in the
                            following Countries
                            <ul>
                                <li>US</li>
                                <li>IRELAND</li>
                                <li>GERMANY</li>
                                <li>UK</li>
                                <li>CANADA</li>
                            </ul>
                            2.Gain up to 90% scholarship for the Masters courses<br>

                            3.Get constant guidance and extensive counseling sessions before
                            shortlisting the Universities and courses
                        </div>
                    </div>

                </div>
            </div>
        </div>
       <div class="HM4">
        {{>testimonials}}
       </div>
    </div>

    </div>

</body>

</html>