<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First-year-program</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        {{>navbar}}

    </header>
    <div class="wrapper">
        <div class="first">
            <div class="first-left">
                <img src="./images/laptop.png" alt="laptop">
            </div>
            <div class="first-right">
                <div class="first-line">2nd Year Engineering Programming</div>
                <div class="sec-line">
                    🛑 Get introduced to competitive programming that will prepare you for <br>
                    securing premium placements. <br>
                    🛑 Learn advanced concepts like Data Structures & Algorithms, advanced
                    JAVA/PYTHON/C/C++, and interview questions asked on these concepts. <br>
                    🛑 Build exciting interactive projects using these concepts to enhance your
                    learnings and understand the practical implications of the concepts. <br>
                    🛑 Prepare for aptitude tests which is a preliminary step for the placement
                    interviews and crack the entry tests to placements easily. 
                </div>
                <div class="first-flex">
                    <div class="first-img"><img src="./images/CN1.png" alt=""></div>
                    <div class="first-text">Competitive Programming</div>
                </div>
                <div class="first-flex">
                    <div class="first-img"><img src="./images/CN2.png" alt=""></div>
                    <div class="first-text">JAVA/Advanced Python/C/C++/DSA <br> Interview Questions & Projects
                    </div>
                </div>
                <div class="first-flex">
                    <div class="first-img"><img src="./images/CN3.png" alt=""></div>
                    <div class="first-text"> Aptitude Test Preparation </div>
                    <a href="contact" class="enroll">Enroll Now</a>
                </div>
            </div>
        </div>
        <div class="predict">
            <div class="predict-text">Master Competitive Programming & Aptitude Tests to Ace the Placements
            </div>
            <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="predict-btn">Predict Eng College</a> -->
        </div>

        <div class="HM3">
            <div class="HM_boxs">
                <div class="HM-left">
                    <div class="HM-flex">
                        <img src="./images/counselling.png" style="background-color: #17242B;">
                        <div class="num">45000+</div>
                        <div style="background-color: #17242B;">Counselling</div>
                        <div style="background-color: #17242B;">Student</div>


                    </div>
                    <div class="HM-flex">
                        <img src="./images/students.png" style="background-color: #17242B;">
                        <div class="num">10000+</div>
                        <div style="background-color: #17242B;">Student</div>
                        <div style="background-color: #17242B;">Trained</div>


                    </div>
                    <div class="HM-flex">
                        <img src="./images/startup.png" style="background-color: #17242B;">
                        <div class="num">250+</div>
                        <div style="background-color: #17242B;">Start-up</div>
                        <div style="background-color: #17242B;">Projects</div>


                    </div>
                </div>

                <div class="HM-right">
                    <!-- <h3 class="head4">4 Years of Mentorship Throughout Your Engineering Journey</h2> -->
                    <div class="contain">
                        <p class="para">
                            1. 1st-Year : Coaching & Foundation Programming (Independent Learner) <br>
                            Master the academic subjects with amazing exam strategies <br>
                            to secure best grades/pointers. <br>
                            2. 2nd-Year : Competitive Programming & Aptitude for Placement <br>
                            Focus on competitive programming and aptitude test preparation for <br>
                            achieving premium placements. <br>
                            3. 3rd-Year : Industrial Course Training <br>
                            Gain expertise in various industrial skills through expert training provided <br>
                            by JKBian (Ex-Student) industrial masters having 35+LPA packages. <br>
                            4. Projects and Mastermind for Startup <br>
                            Engage in national as well as international level competitions and build <br>
                            your startup while completing your degree. <br>
                        </p>
                    </div>

                </div>
            </div>
        </div>
       <div class="HM4">
        {{>testimonials}}
       </div>
    </div>

    </div>

</body>

</html>