<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 3rd Year Engineering Programming</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
       {{>navbar}}

    </header>
    <div class="wrapper">
        <div class="first">
            <div class="first-left">
                <img src="./images/laptop.png" alt="laptop">
            </div>
            <div class="first-right">
                <div class="first-line"> 3rd Year Engineering Programming</div>
                <div class="sec-line">🛑 No coaching for academic subjects from 3rd year onwards.<br>
                    🛑 Gain expertise in various industrial skills through expert training provided
                    by JKBian (Ex-Student) industrial masters having 35+LPA packages.<br>
                    🛑 Various Industrial courses include:<br>
                    <ul>
                        <li>Full-Stack Web Development</li>
                        <li>Mobile App Development</li>
                        <li>Machine Learning, Artificial Intelligence & Data Science</li>
                        <li>Business Intelligence</li>
                    </ul>
                    🛑 Build industrial projects based on the learnings from the courses <br>
                </div>
                <div class="first-flex">
                    <div class="first-img"><img src="./images/calender.png" alt=""></div>
                    <div class="first-text">College Ranking Seminar / Webinar</div>
                </div>
                <div class="first-flex">
                    <div class="first-img"><img src="./images/clock.png" alt=""></div>
                    <div class="first-text">FEES / DISTANCE / TRAVEL TIME / HOSTEL <br> ADMISSION TO PLACEMENT JOURNEY
                    </div>
                </div>
                <div class="first-flex">
                    <div class="first-img"><img src="./images/msg.png" alt=""></div>
                    <div class="first-text">TFWS & EWS SEATS</div>
                    <a href="contact" class="enroll">Enroll Now</a>
                </div>
            </div>
        </div>
        <div class="predict">
            <div class="predict-text">Strengthen Your Command in Programming Through Industrial Courses Offered by
                Experts</div>

        </div>

        <div class="HM3">
            <div class="HM_boxs">
                <div class="HM-left">
                    <div class="HM-flex">
                        <img src="./images/counselling.png" style="background-color: #17242B;">
                        <div class="num">45000+</div>
                        <div style="background-color: #17242B;">Counselling</div>
                        <div style="background-color: #17242B;">Student</div>


                    </div>
                    <div class="HM-flex">
                        <img src="./images/students.png" style="background-color: #17242B;">
                        <div class="num">10000+</div>
                        <div style="background-color: #17242B;">Student</div>
                        <div style="background-color: #17242B;">Trained</div>


                    </div>
                    <div class="HM-flex">
                        <img src="./images/startup.png" style="background-color: #17242B;">
                        <div class="num">250+</div>
                        <div style="background-color: #17242B;">Start-up</div>
                        <div style="background-color: #17242B;">Projects</div>


                    </div>
                </div>

                <div class="HM-right">
                    <!-- <h3 class="head4">4 Years of Mentorship Throughout Your Engineering Journey</h2> -->
                    <div class="contain">
                        <p class="para">
                            3rd-Year : Industrial Course Training<br>
                            • Gain expertise in various industrial skills through expert training provided
                            by JKBian (Ex-Student) industrial masters having 35+LPA packages.<br>

                            Projects and Mastermind for Startup<br>
                            • Engage in national as well as international level competitions and build
                            your startup while completing your degree.<br>

                            Plan for Masters Abroad <br>
                            • Plan for your Masters journey abroad with up to 90% scholarship and
                            complete guidance throughout the entire process
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="HM4">
            {{>testimonials}}
        </div>
    </div>

    </div>

</body>

</html>