<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Youth Empowerment Hub</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

        *,
        *::after,
        *::before {
            box-sizing: border-box;

        }

        body {
            margin: 0;
            font-family: "Poppins", sans-serif;
            background-color: #020F16;
        }

        .wrapper {
            max-width: 1450px;
            margin: 0 auto;
        }

        header {
            /* height: 100vh; */
            width: 100%;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* position: fixed; */
            width: 1400px;
            top: 27px;
            z-index: 100;
        }

        nav .logo {
            color: #FFF;
            font-family: "Poppins";
            font-size: 52.208px;
            font-weight: 700;
        }

        nav ul {
            display: flex;
            align-items: center;
            gap: 50px;
            list-style: none;
            margin: 0;
        }

        nav ul li a {
            color: #FFF;
            font-family: "Poppins";
            font-size: 22.122px;
            font-weight: 400;
            text-decoration: none;
        }

        .dropbtn {
            background-color: transparent;
            color: white;
            padding: 16px;
            font-size: 22px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #17242B;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            display: block;
        }


        .dropdown-content a:hover {
            background-color: rgb(46, 70, 83);
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: transparent;
        }

        .first {
            width: 1450px;
            height: 570px;
            background-color: #E67F22;
            padding-top: 20px;
            /* flex-shrink: 0; */
            display: flex;
        }

        .first-left {
            height: auto;
            background-color: #E67F22;
        }

        .first-left img {
            width: 900px;
            height: auto;
            padding: 20px 15px 35px 40px;
            background-color: #E67F22;
            margin-top: 30px;
        }

        .first-right {
            background-color: #E67F22;
            /* height: 600px; */
        }

        .first-line {
            color: #FFF;
            font-family: 'Poppins';
            font-size: 20px;
            font-weight: 700;
            background-color: #E67F22;
            margin-top: 25px;

        }

        .sec-line {
            color: #FFF;
            font-family: 'Poppins';
            font-size: 12px;
            font-weight: 500;
            background-color: #E67F22;
            margin: 10px 0 10px 20px;
        }

        .first-flex {
            display: flex;
            /* justify-content:space-between; */
            padding: 8px;
            background-color: #E67F22;

        }

        .first-img img {
            background-color: #E67F22;
        }

        .first-text {
            color: #FFF;
            font-family: 'Poppins';
            font-size: 15px;
            font-weight: 500;
            margin: 10px 0 0 20px;
            background-color: #E67F22;
        }

        .enroll {
            padding: 10px;
            border-radius: 15px;
            color: #E67F22;
            display: inline-block;
            font-family: "Poppins";
            font-weight: 500;
            background: #FFF;
            text-decoration: none;
            /* margin: 0 10px 60px 50px; */
            margin-left: 100px;

        }

        .predict {
            width: auto;
            height: 90px;
            background-color: #000;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            gap: 20px;

        }

        .predict-text {
            color: #FFF;
            font-family: Poppins;
            font-size: 25px;
            font-weight: 700;
            background-color: black;

        }

        .HM_boxs {
            display: flex;
            height: 250px;
            margin: 25px 25px;
        }

        .HM-left {
            color: white;
            width: 55%;
            margin: 0 10px;
            display: flex;

        }


        .HM-flex {
            display: flex;
            flex-direction: column;
            background-color: #17242B;
            flex: 1;
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            margin: 0 5px;

        }

        .num {
            margin: 10px 0;
            font-size: 23px;
            color: #E67F22;
            background-color: #17242B;
            font-weight: 700;
        }

        .HM-right {
            width: 45%;
            color: white;
            padding: 5px 10px;
            background-color: #17242B;
            border-radius: 10px;
            margin-right: 10px;
        }

        /* .head4{

        } */
        .para {
            font-size: 15px;
            color: white;
            font-family: "Poppins";
            background-color: #17242B;
        }

        .Testimonials {
            text-align: center;
            font-size: 45px;
            font-family: 'Poppins';
            font-weight: 700;
            margin-top: 50px;
            /* margin-bottom: 20px; */
            color: #E67F22;
        }

        .HM4-cards {
            display: flex;
            margin: 15px;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .cards {
            /* flex: 1; */
            flex: 0 0 calc(20% - 10px);
        }

        .imgCds img {
            width: 100%;
            height: auto;
        }

        .textCds {
            color: #FFF;
            font-family: 'Poppins';
            font-size: 24px;
            font-weight: 500;
            text-align: center;
            background-color: #000;
            border-radius: 0 0 10px 10px;
        }
    </style>
</head>

<body>
    <header>
        <div class="wrapper">
            <nav>
                <div class="logo">JKB</div>

                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">Courses</button>
                            <div class="dropdown-content">
                                <a href="#">Engg. Admission Counselling</a>
                                <a href="#">Ist Year Programming</a>
                                <a href="#">Ist Year Engg. Coaching</a>
                                <a href="#">IT Services for Start-Up</a>
                                <a href="#">2nd Year Programming</a>
                                <a href="#">MS in US & Europe</a>
                                <a href="#">3rd Year Programming</a>
                                <a href="#">Project & Placement</a>
                                <a href="#">Financial Literacy</a>
                                <a href="#">Youth Empowerment Hub</a>
                            </div>
                        </div>
                    </li>
                    <li><a href="#">Counselling</a></li>
                    <li><a href="./Itservices.html">IT Service</a></li>
                    <li><a href="./about.html">About us</a></li>
                </ul>
            </nav>
        </div>

    </header>
    <div class="wrapper">
        <div class="first">
            <div class="first-left">
                <img src="./images/desk.png" alt="laptop">
            </div>
            <div class="first-right">
                <div class="first-line"> Youth Empowerment Hub</div>
                <div class="sec-line"> 🛑 We empower the youth through comprehensive skill development
                    programs and workshops to bring out the dynamism and unlock their
                    true potential for success in a rapidly evolving world.<br>
                    🛑 Learn about the importance of mindfulness in enhancing your
                    capabilities beyond your limitations.<br>
                    🛑 Embrace spirituality and foster a harmonious and balanced educational
                    environment through Yoga & Meditation.<br>
                    🛑 Unlock and enhance your potential through various courses, specially
                    designed for the youths, offered by the Art of Living Foundation.<br>
                </div>
                <div class="first-flex">
                    <div class="first-img"><img src="./images/calender.png" alt=""></div>
                    <div class="first-text">College Ranking Seminar / Webinar</div>
                </div>
                <div class="first-flex">
                    <div class="first-img"><img src="./images/clock.png" alt=""></div>
                    <div class="first-text">FEES / DISTANCE / TRAVEL TIME / HOSTEL <br> ADMISSION TO PLACEMENT JOURNEY
                    </div>
                </div>
                <div class="first-flex">
                    <div class="first-img"><img src="./images/msg.png" alt=""></div>
                    <div class="first-text">TFWS & EWS SEATS</div>
                    <a href="" class="enroll">Enroll Now</a>
                </div>
            </div>
        </div>
        <div class="predict">
            <div class="predict-text">Explore Your Limitless Potential With Youth Special Development Programs</div>

        </div>

        <div class="HM3">
            <div class="HM_boxs">
                <div class="HM-left">
                    <div class="HM-flex">
                        <img src="./images/counselling.png" style="background-color: #17242B;">
                        <div class="num">45000+</div>
                        <div style="background-color: #17242B;">Counselling</div>
                        <div style="background-color: #17242B;">Student</div>


                    </div>
                    <div class="HM-flex">
                        <img src="./images/students.png" style="background-color: #17242B;">
                        <div class="num">10000+</div>
                        <div style="background-color: #17242B;">Student</div>
                        <div style="background-color: #17242B;">Trained</div>


                    </div>
                    <div class="HM-flex">
                        <img src="./images/startup.png" style="background-color: #17242B;">
                        <div class="num">250+</div>
                        <div style="background-color: #17242B;">Start-up</div>
                        <div style="background-color: #17242B;">Projects</div>


                    </div>
                </div>

                <div class="HM-right">
                    <!-- <h3 class="head4">4 Years of Mentorship Throughout Your Engineering Journey</h2> -->
                    <div class="contain">
                        <p class="para">
                            1st-Year : Foundation Programming (Independent Learner)
                            Master the academic subjects with amazing exam strategies
                            to secure best grades/pointers.<br>
                            2nd-Year : Competitive Programming & Aptitude for Placement
                            Focus on competitive programming and aptitude test preparation for
                            achieving premium placements.<br>
                            3rd-Year : Industrial Course Training
                            Gain expertise in various industrial skills through expert training provided
                            by JKBian (Ex-Student) industrial masters having 35+LPA packages.<br>
                            Projects and Mastermind for Startup
                            Engage in national as well as international level competitions and build
                            your startup while completing your degree.
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="HM4">
            <div class="Testimonials">Testimonials</div>
            <!-- <img src="./images/HM4.png" alt=""> -->
            <div class="HM4-cards">
                <div class="cards">
                    <div class="imgCds"><iframe src="https://www.youtube.com/embed/G5g8Gfo8Qc8"></iframe></div>
                    <div class="textCds">Chiranjiv Nagrajan</div>
                </div>
                <div class="cards">
                    <div class="imgCds"><iframe src="https://www.youtube.com/embed/MbP4Nq-ngQU"></iframe></div>
                    <div class="textCds">Pranil Bhalshankar </div>
                </div>

                <div class="cards">
                    <div class="imgCds"><iframe src="https://www.youtube.com/embed/4Gg0j29m1CY"></iframe></div>
                    <div class="textCds">Darshana Nikam</div>
                </div>
                <div class="cards">
                    <div class="imgCds"><iframe src="https://www.youtube.com/embed/_ee8q5YHW1c"></iframe></div>
                    <div class="textCds">Harshal Bhoir </div>
                </div>
            </div>
        </div>
    </div>

    </div>

</body>

</html>