<div class="wrapper">
            <nav>
                <div class="logo">JKB</div>

                <ul>
                    <li><a href="/">Home</a></li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">Courses</button>
                            <div class="dropdown-content">
                                <a href="counselling">Engg. Admission Counselling</a>
                                <a href="first-year-programming">Ist Year Programming</a>
                                <a href="coaching">Ist Year Engg. Coaching</a>
                                <a href="itservices">IT Services for Start-Up</a>
                                <a href="second-year-programming">2nd Year Programming</a>
                                <a href="masters">MS in US & Europe</a>
                                <a href="third-year-programming">3rd Year Programming</a>
                                <a href="project">Project & Placement</a>
                                <a href="financial">Financial Literacy</a>
                                <a href="youth-empowerment-hub">Youth Empowerment Hub</a>
                            </div>
                        </div>
                    </li>
                    <li><a href="counselling">Counselling</a></li>
                    <li><a href="itservices">IT Service</a></li>
                    <li><a href="about">About us</a></li>
                </ul>
            </nav>
        </div>