<div class="Testimonials">Testimonials</div>
<!-- <img src="./images/HM4.png" alt=""> -->
<div class="HM4-cards">
    <div class="cards">
        <div class="imgCds"><img src="./images/hm4-img.png" alt="loading"></div>
        <div class="textCds">Mohit Talreja</div>
    </div>
    <div class="cards">
        <div class="imgCds"><img src="./images/hm4-img.png" alt="loading"></div>
        <div class="textCds">Mohit Talreja</div>
    </div>
    <div class="cards">
        <div class="imgCds"><img src="./images/hm4-img.png" alt="loading"></div>
        <div class="textCds">Mohit Talreja</div>
    </div>
    <div class="cards">
        <div class="imgCds"><img src="./images/hm4-img.png" alt="loading"></div>
        <div class="textCds">Mohit Talreja</div>
    </div>
    <div class="cards">
        <div class="imgCds"><img src="./images/hm4-img.png" alt="loading"></div>
        <div class="textCds">Mohit Talreja</div>
    </div>
</div>